* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(236, 236, 238);
    overflow: hidden;
    font-family:sans-serif;
}

.container {
    background-color: white;
    padding: 1rem 3rem;
    padding-bottom: 2rem;
    border: orange 3px solid;
}

h2 {
    margin: 1rem 0;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
}

form div {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

input {
    padding: 5px;
    border: 1px solid rgba(128, 128, 128, 0.572);
    font-size: 15px;
}

button {
    background-color: orange;
    color: white;
    border: none;
    padding: 10px;
    font-size: 1rem;
    text-transform: uppercase;
    cursor: pointer;
}

span a {
    text-decoration: none;
    color: rgb(80, 98, 255);
}

.private {
    height: 50vh;
    width: 70vw;
    background-color: orange;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 1rem;
    flex-direction: column;
}

.private button {
    background-color: black;
    padding: 10px ;
    font-size: 20px;
    margin: 20px;
}